.grid-container2 {
    display: grid;
    column-gap: 50px;
    row-gap: 150px;
    grid-template-columns: auto auto auto;
    margin-top: 20%;
    background:#F1F8FF;
}

.item {
    background-color:rgba(63, 51, 51, 0.507);
    border: 4px solid rgb(246, 242, 242);
    padding: 0px;
    font-size: 20px;
    margin: 5%;
    border-radius: 5%;
    box-sizing: 20px;
}
.button {
    margin-left: 10%;
    background-color:white;
    /* Green */
    border: none;
    color:green;
    padding: 15px 32px;
    text-align: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: relative;
    position: relative;
    bottom: 30%;
    left: 55%;
}
.button:hover{
    background-color:green;
    color: black;
}
.grid-container3 {
    display: grid;
    column-gap:auto;
    row-gap: 100px;
    grid-template-columns: auto auto auto;
    margin-top: 20%;
    background: rgba(17, 2, 2, 0.1);
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 10;
}
.item4{
    background-color: rgba(10, 9, 9, 0.8);
    border: 4px solid rgba(246, 242, 242, 0.8);
    padding: 0px;
    font-size: 30px;
    margin: 5%;
    border-radius: 80px;
}
.logo1{
    width: 50%;
    height: auto;
    object-fit: cover;
    opacity:100%;
}
.cart{
    width: 12%;
    height:7.5%;
    border-radius: 20%;
    margin:auto;
    position: relative;
    bottom: 110%;
    left:45%;
}
.cart:hover{
    opacity:40%;
}
.quantity{
    margin: 5%;
    border-radius: 10%;
}
.dropdown{
    position: absolute;
    top:50%;
}